<p-panel header="Settings">
	<div class="ui-g">
		<label class="ui-g-12 ui-md-2"
		       for="notify">Email to Notify:</label>
		<input class="ui-g-12 ui-md-10"
		       type="email"
		       id="notify"
		       placeholder="Enter an Email Address">
    </div>
		<div class="ui-g">
			<label class="ui-g-12 ui-md-2"
			       for="backup">Force Backup:</label>
			<button class="ui-g-12 ui-md-10"
			        id="backup">Backup System Now</button>
		</div>
		<div class="ui-g">
			<label for="statistic"
			       class="ui-g-12 ui-md-2">Uptime Stats</label>
			<div class="ui-g-12 ui-md-10 ui-g-nopad">
				<div class="icon ui-g-5">
					<i class="fa fa-cloud-download"></i>
				</div>
                <div class="ui-g-7"></div>
                    <div class="value">20</div>
                    <div class="label">Days Uptime</div>
			</div>
		</div>
</p-panel>
